<header>
    <div class="container navbar">
        <a href="#" class="navbar-brand">
            &lt;Mateus<span>.Dev</span> /&gt;
        </a>
        
        <div class="mobile-toggle" (click)="toggleMenu()">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>

        <ul class="navbar-nav" [class.active]="isMenuOpen">
            <li><a href="#sobre" class="nav-link" (click)="closeMenu()">Sobre</a></li>
            <li><a href="#habilidades" class="nav-link" (click)="closeMenu()">Habilidades</a></li>
            <li><a href="#projetos" class="nav-link" (click)="closeMenu()">Projetos</a></li>
            <li><a href="#contato" class="nav-link" (click)="closeMenu()">Contato</a></li>
        </ul>
    </div>
</header>
