.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #111;
    color: white;
    width: 100%;
    box-sizing: border-box; /* Isso garante que o padding não adicione largura extra */
    overflow: hidden; /* Garante que nenhum item saia da tela */
  }
  
  .nav-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-brand a {
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    margin-left: 10px;
  }
  
  .nav-right {
    display: flex;
    gap: 20px;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
  }
  
  .nav-toggle {
    display: none;
  }
  
  .hamburger {
    width: 30px;
    height: 3px;
    background-color: white;
    position: relative;
    transition: all 0.3s;
  }
  
  .hamburger::before,
  .hamburger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: white;
    left: 0;
  }
  
  .hamburger::before {
    top: -8px;
  }
  
  .hamburger::after {
    bottom: -8px;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .nav-right {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 50px;
      right: 20px;
      background-color: #111;
      padding: 20px;
      width: 200px;
    }
  
    .nav-right.active {
      display: flex;
    }
  
    .nav-toggle {
      display: block;
      cursor: pointer;
    }
  
    .nav-link {
      padding: 10px 0;
    }
  }
  