<section id="habilidades">
    <h2>Habilidades</h2>
    <div class="habilidades-grid">
        <div class="habilidade-item">
            <h3>Front-End</h3>
            <ul>
                <li>HTML5</li>
                <li>CSS3 (Bootstrap, Flexbox, Grid)</li>
                <li>JavaScript, TypeScript</li>
                <li>React, Angular</li>
                
            </ul>
        </div>
        <div class="habilidade-item">
            <h3>Back-End</h3>
            <ul>
                <li>Node.js (Express)</li>
                <li>PHP</li>
                <li>SQL</li>
            </ul>
        </div>
        <div class="habilidade-item">
            <h3>Ferramentas & Outros</h3>
            <ul>
                <li>Git & GitHub</li>
                <li>Figma</li>
                <li>Github-Pages, Vercel</li>
                <li>API REST</li>
            </ul>
        </div>
    </div>
</section>
