<section id="projetos">
    <h2>Meus Projetos</h2>
    <div class="projetos-grid">
        <div class="projeto-item">
            <div class="projeto-img">
                <img src="zoosup.png" alt="Zoosuplementos">
            </div>
            <h3>Zoosuplementos</h3>
            <p>Site de venda de suplementos desenvolvido com tecnologias de front-end (HTML, CSS, JavaScript, Bootstrap)
                e back-end (PHP, SQL, AJAX).</p>
            <a href="https://github.com/Matag-e/ZOOSuplementos" target="_blank" class="btn-projeto">Ver Projeto</a>
        </div>
        <div class="projeto-item">
            <div class="projeto-img">
                <img src="miniblog.png" alt="MINIBLOG">
            </div>
            <h3>MINIBLOG</h3>
            <p>Blog interativo que permite postar fotos com legendas, desenvolvido com React no front-end e Firebase no
                back-end.</p>
            <a href="https://github.com/Matag-e/MiniBLOG" target="_blank" class="btn-projeto">Ver Projeto</a>
        </div>
        <div class="projeto-item">
            <div class="projeto-img">
                <img src="delta.png" alt="DeltaService">
            </div>
            <h3>DeltaService</h3>
            <p>Site de uma loja, desenvolvido com HTML, CSS, JavaScript, Angular, TypeScript e Express. Oferece uma
                experiência de compra intuitiva e eficiente.</p>
            <a href="https://github.com/Matag-e/Delta" target="_blank" class="btn-projeto">Ver Projeto</a>
        </div>
        <div class="projeto-item">
            <div class="projeto-img">
                <img src="tmdb.png" alt="Movies Lib">
            </div>
            <h3>Movies Lib</h3>
            <p>Site simples que consome a API do TMDB para exibir todos os filmes do banco de dados. Permite busca e
                filtragem de filmes por categoria.</p>
            <a href="https://github.com/Matag-e/tmdb_api" target="_blank" class="btn-projeto">Ver Projeto</a>
        </div>
        <div class="projeto-item">
            <div class="projeto-img">
                <img src="dashboard.png" alt="Dashboard Admin">
            </div>
            <h3>Dashboard Admin</h3>
            <p>Site simples de dashboard admin, desenvolvido apenas com HTML e CSS.</p>
            <a href="https://github.com/Matag-e/dashboard_responsive" target="_blank" class="btn-projeto">Ver
                Projeto</a>
        </div>
        <div class="projeto-item">
            <div class="projeto-img">
                <img src="quiz.png" alt="Quiz App">
            </div>
            <h3>QUIZ</h3>
            <p>Aplicativo de perguntas e respostas interativo, desenvolvido com React. Permite aos
                usuários responderem perguntas de múltipla escolha, com feedback instantâneo e pontuação ao final.</p>
            <a href="https://github.com/Matag-e/quizreact" target="_blank" class="btn-projeto">Ver Projeto</a>
        </div>
    </div>
</section>