<section id="projetos" class="projetos-section">
    <div class="container">
        <h2 class="section-title">Meus Projetos</h2>
        <div class="projetos-grid">
            <div class="projeto-card">
                <div class="projeto-img-wrapper">
                    <img src="zoosup.png" alt="Zoosuplementos">
                    <div class="overlay">
                        <a href="https://github.com/Matag-e/ZOOSuplementos" target="_blank" class="btn-ver"><ng-icon name="bootstrapGithub"></ng-icon> Ver Código</a>
                    </div>
                </div>
                <div class="projeto-info">
                    <h3>Zoosuplementos</h3>
                    <p>E-commerce de suplementos com painel administrativo.</p>
                    <div class="tags">
                        <span>PHP</span>
                        <span>SQL</span>
                        <span>Bootstrap</span>
                    </div>
                </div>
            </div>

            <div class="projeto-card">
                <div class="projeto-img-wrapper">
                    <img src="miniblog.png" alt="MINIBLOG">
                    <div class="overlay">
                        <a href="https://github.com/Matag-e/MiniBLOG" target="_blank" class="btn-ver"><ng-icon name="bootstrapGithub"></ng-icon> Ver Código</a>
                    </div>
                </div>
                <div class="projeto-info">
                    <h3>MINIBLOG</h3>
                    <p>Rede social para compartilhamento de fotos e legendas.</p>
                    <div class="tags">
                        <span>React</span>
                        <span>Firebase</span>
                    </div>
                </div>
            </div>

            <div class="projeto-card">
                <div class="projeto-img-wrapper">
                    <img src="delta.png" alt="DeltaService">
                    <div class="overlay">
                        <a href="https://github.com/Matag-e/Delta" target="_blank" class="btn-ver"><ng-icon name="bootstrapGithub"></ng-icon> Ver Código</a>
                    </div>
                </div>
                <div class="projeto-info">
                    <h3>DeltaService</h3>
                    <p>Plataforma de serviços com agendamento online.</p>
                    <div class="tags">
                        <span>Angular</span>
                        <span>Express</span>
                        <span>TypeScript</span>
                    </div>
                </div>
            </div>

            <div class="projeto-card">
                <div class="projeto-img-wrapper">
                    <img src="tmdb.png" alt="Movies Lib">
                    <div class="overlay">
                        <a href="https://github.com/Matag-e/tmdb_api" target="_blank" class="btn-ver"><ng-icon name="bootstrapGithub"></ng-icon> Ver Código</a>
                    </div>
                </div>
                <div class="projeto-info">
                    <h3>Movies Lib</h3>
                    <p>Catálogo de filmes consumindo a API do TMDB.</p>
                    <div class="tags">
                        <span>React</span>
                        <span>API</span>
                    </div>
                </div>
            </div>

            <div class="projeto-card">
                <div class="projeto-img-wrapper">
                    <img src="dashboard.png" alt="Dashboard Admin">
                    <div class="overlay">
                        <a href="https://github.com/Matag-e/dashboard_responsive" target="_blank" class="btn-ver"><ng-icon name="bootstrapGithub"></ng-icon> Ver Código</a>
                    </div>
                </div>
                <div class="projeto-info">
                    <h3>Dashboard Admin</h3>
                    <p>Interface administrativa responsiva e moderna.</p>
                    <div class="tags">
                        <span>HTML</span>
                        <span>CSS</span>
                    </div>
                </div>
            </div>

            <div class="projeto-card">
                <div class="projeto-img-wrapper">
                    <img src="quiz.png" alt="Quiz React">
                    <div class="overlay">
                        <a href="https://github.com/Matag-e/quizreact" target="_blank" class="btn-ver"><ng-icon name="bootstrapGithub"></ng-icon> Ver Código</a>
                    </div>
                </div>
                <div class="projeto-info">
                    <h3>Quiz React</h3>
                    <p>Jogo de perguntas e respostas com pontuação.</p>
                    <div class="tags">
                        <span>React</span>
                        <span>Context API</span>
                    </div>
                </div>
            </div>
             <div class="projeto-card">
                <div class="projeto-img-wrapper">
                    <img src="sccp.png" alt="rpaIngressos">
                    <div class="overlay">
                        <a href="https://github.com/Matag-e/rpaIngressos" target="_blank" class="btn-ver"><ng-icon name="bootstrapGithub"></ng-icon> Ver Código</a>
                    </div>
                </div>
                <div class="projeto-info">
                    <h3>rpaIngressos</h3>
                    <p>Bot para automação de compra de ingressos.</p>
                    <div class="tags">
                        <span>Python</span>
                        <span>Selenium</span>
                    </div>
                </div>
            </div>
             <div class="projeto-card">
                <div class="projeto-img-wrapper">
                    <img src="todo.png" alt="Todo List">
                    <div class="overlay">
                        <a href="https://github.com/Matag-e/ToDoList_react" target="_blank" class="btn-ver"><ng-icon name="bootstrapGithub"></ng-icon> Ver Código</a>
                    </div>
                </div>
                <div class="projeto-info">
                    <h3>Todo List</h3>
                    <p>Gerenciador de tarefas pessoal.</p>
                    <div class="tags">
                        <span>React</span>
                    </div>
                </div>
            </div>
             <div class="projeto-card">
                <div class="projeto-img-wrapper">
                    <img src="secret.png" alt="Secret Word">
                    <div class="overlay">
                        <a href="https://github.com/Matag-e/secretWord" target="_blank" class="btn-ver"><ng-icon name="bootstrapGithub"></ng-icon> Ver Código</a>
                    </div>
                </div>
                <div class="projeto-info">
                    <h3>Secret Word</h3>
                    <p>Jogo de adivinhação de palavras.</p>
                    <div class="tags">
                        <span>JavaScript</span>
                        <span>DOM</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
