<section id="sobre">
    <h2>Sobre Mim</h2>
    <div class="sobre-box">
        <p>Olá! Meu nome é <strong>Mateus Santos</strong> e tenho 24 anos. Sou estudante de Análise e Desenvolvimento de
            Sistemas na Uninove, onde busco constantemente desenvolver minhas habilidades. Nas horas vagas, gosto de
            trabalhar em projetos de sites, seja para a faculdade ou para aprimorar meu conhecimento. Embora tenha uma
            forte paixão pela área de front-end, também estou expandindo meus conhecimentos em back-end.</p>
    </div>
</section>